@font-face {
    font-family: 'stretch_proregular';
    src: url('src/stretchpro-webfont.woff') format('woff'),
         url('src/stretchpro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
font-family: stretch_proregular;
color: white;
padding: 0;
margin: 0;
width: auto;
scroll-behavior: smooth;
}

body{
background-color: rgb(24, 24, 24);
}

.inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 1.5em;
}

.inicio ul{
    text-align: right;
    margin-top: -.3em;
}

.inicio ul li{
    list-style-type: none;
    padding: .3em 0;
}

a{
    color: white;
    text-decoration: none;
    transition: .3s ease;
}

a:hover{
    transition: .3s ease;
    color: rgb(227, 196, 55);
}

.inicio img{
    position: absolute;
    opacity: 25%;
    pointer-events: none;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100vw;
    overflow: hidden;
}

.inicio h1{
    text-align:center;
    font-size: 7vw;
    white-space: nowrap;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    pointer-events: none;
}

h1{
    font-size: 5vw;
    margin: 9vw 0 0 0;
}

h2{
    font-size: 4vw;
    margin: 5vw 0 0 0;
    padding: 5vw 0 0 0;
}

h3{
    font-size: 1em;
}

.contenido{
    margin: 2vw 0 0 0;
    padding: 3vw 6vw;
}

.sobremi p{
    padding: 2vw 0;
    font-size: 3vw;
}

.proyectos p{
    font-size: 2.5vw;
    padding: 4vw 0;
    border-color: white;
    border-style: solid;
    border-width: 0 0 0 1px;
    margin: 3vw 3vw 12vw 1vw;
    padding: .5rem;
    padding-left: 1em;
}

span{
    color: rgb(24,24,24);
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}

.tecnologias ul{
    list-style-type: none;
    margin: 3vw 3vw 6vw 1vw;
}

.tecnologias ul li{
    padding: .5em;
    padding-left: 1em;
    text-align: left;
    font-size: 3vw;
    color: rgb(24,24,24);
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
    border-color: white;
    border-style: solid;
    border-width: 0 0 0 1px;
}

.contacto ul{
    list-style-type: none;
    margin: 3vw 3vw 6vw 1vw;
}

.contacto ul li{
    border-color: white;
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .5rem;
    padding-left: 1em;
    font-size: 3vw;
}

footer{
    text-align: center;
    font-size: 1.5vw;
    margin: 1em;
}